.grid {
    display: grid;
    grid-template-rows:  min(150px,100%) 1fr;
    grid-template-columns: min(200px,100%) 1fr;
    grid-template-areas:  
        "sidebar    header"
        "sidebar    main";
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: aquamarine;
    grid-area: header;
}

.sidebar {
    background-color: tomato;
    grid-area: sidebar;
}

.main {
    background-color: brown;
    grid-area: main;
}