:root {
  --white: #ffffff;
  --grey: #bfbfbf;
  --dark-grey: #7f7f7f;
  --ligh-black: #404040;
  --black: #000000;
  overflow-x: hidden;
}


* {
    font-family: 'Poppins', sans-serif;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: min(250px, 100%) 1fr;
  grid-template-areas:
    "sidebar    header"
    "sidebar    main";
  height: 100vh;
  width: 100vw;
}

.header {
  /* background-color: var(--black); */
  grid-area: header;
  padding: 1.5rem 2rem;


  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr; */
  /* align-content: space-between; */
}

.header svg {
  height: 20px;
  width: 20px;
}

.header .search form {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.header .search input[type="search"] {
  flex: 1 0 400px;
  background-color: var(--grey);
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.header .user_image {
  width: 35px;
  height: 35px;
  background-image: url(./images/user_image.jpeg);
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.header .account {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.header .account .actionBtn {
    display: flex;
    gap: 1rem;
}

.header .greeting {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.header .greeting .user_image {
  width: 50px;
  height: 50px;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 3rem;
}

.sidebar div {
  display: grid;
  gap: 1rem;
}

.sidebar a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}


.sidebar a:hover {
  color: var(--dark-grey);
}

.sidebar a svg {
  width: 20px;
  height: 20px;
}

.logo a svg {
  width: 50px;
  height: 50px;
}

.logo a {
  font-size: 1.5rem;
}

.main {
  background-color: var(--grey);
  color: var(--font);
  grid-area: main;
  padding: 2rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.projects {
  grid-row: span 2;
}

.main-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.card {
  width: 350px;
  height: 200px;
  background-color: var(--white);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 1rem 1.5rem;
}

.card div {
  justify-self: end;
  display: flex;
  gap: 0.5rem;
  
  
}

.announcements,
.trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.announcement-box,
.trending-box {
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  
}

.announcement-box div, .trending-box div {
    padding: 0.5rem;
    border-bottom: 1px solid grey;

    
}

.announcement-box div:last-child, .trending-box div:last-child {
    /* padding-bottom: 0; */
    border-bottom: none;
}
